{% extends "Operarios/base.html" %}
{% load static %}

{% block titulo %}

Inicio

{% endblock titulo %}

{% block main %}
        <!-- About section-->

        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Panel de Producción</h1>
                <p class="lead">Tercera Entrega Mariano Sirio - Primer Web para Producción</p>
                <a class="btn btn-lg btn-light" href="#about">Ver más información</a>
            </div>
        </header>
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Quien soy</h2>
                        <p class="lead">Me encargo de la administración de un sistema de gestión empresarial, desde el lado del superadminsitrador.</p>
                        <p class="lead">Estoy iniciando en el mundo de la programación para dar mejor soporte en la empresa.</p>
                        <ul>
                            <li>En esta primera Web, veremos algunos datos relacionados a una producción</li>
                            <li>El enfoque es poder visualizar los indicadores de producción</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Developer Junior</h2>
                        <p class="lead">2023</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Contacto</h2>
                        <p class="lead">mariano@uoopaa.com</p>
                    </div>
                </div>
            </div>
        </section>

{% endblock main %}
